
<div class="game">
  <ul data-game_id='<%=@game.id%>' id="parent-list">
    <% counter = 0 %>
<% @game.board.length.times do %>
  <% if @game.board[counter] == "X" %>
  <li class="player_1" id="<%=counter%>"><%=@game.board[counter]%></li>
  <% elsif @game.board[counter] == "O" %>
  <li class="player_2" id="<%=counter%>"><%=@game.board[counter]%></li>
  <% else %>
  <li class="player_boxes btn-info" id="<%=counter%>"><%=@game.board[counter]%></li>
  <% end %>
  <% counter += 1 %>
<% end %>
  </ul>
</div>
