
<div class="game">
<ul data-game_id='<%=@game.id%>' id="parent-list">
    <li class="player_boxes btn-info" id="0"><%=@game.board[0]%></li>
    <li class="player_boxes btn-info" id="1"><%=@game.board[1]%></li>
    <li class="player_boxes btn-info" id="2"><%=@game.board[2]%></li>
    <li class="player_boxes btn-info" id="3"><%=@game.board[3]%></li>
    <li class="player_boxes btn-info" id="4"><%=@game.board[4]%></li>
    <li class="player_boxes btn-info" id="5"><%=@game.board[5]%></li>
    <li class="player_boxes btn-info" id="6"><%=@game.board[6]%></li>
    <li class="player_boxes btn-info" id="7"><%=@game.board[7]%></li>
    <li class="player_boxes btn-info" id="8"><%=@game.board[8]%></li>
</ul>
</div>
